*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0FF4C6;
    text-align: center;
}

.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.game{
    height: 72vmin;
    width: 72vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.box{
    height: 24vmin;
    width: 24vmin;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 10vmin;
    color: #D68FD6;
    background-color: #DEFFF2;
}
.reset{
    padding: 4vmin;
    font-size: 3vmin;
    background-color: #464F51;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}
#newgame{
    padding: 4vmin;
    font-size: 3vmin;
    background-color: #464F51;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}
#msg{
    color:#000009;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
    display: none;
}